@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body{
    margin: 0;
    color: white;
    font-family: sans-serif;
    background-color: transparent;
}

main {
    margin: 0;
    color: black;
    font-family: Onest, sans-serif;
    font-size: large;
}

section {
  display: grid;
  width: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}


.home {
  background-image: url(images/corvette3.jpg);
}
 
