@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body{
    margin: 0;
    color: white;
    font-family: sans-serif;
    background-color: transparent;
}

main {
    margin: 0;
    color: black;
    font-family: Onest, sans-serif;
    font-size: large;
}
#title {
  font-size: 60px;
  margin-top: -250px;
}
#titleCaption {
  transform: translateY(150px);
}
.home {
    display: flex; /* Activate flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Full viewport height */
    text-align: center; /* Ensure the text inside the container is centered */
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


section:nth-child(1) {
  background-image: url(images/corvette2.jpg);
  color: white;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Adjust the height to fit the image */
}
  

section:nth-child(2) {
    background-color: black;
    color: white;
    justify-content: left;
}

.history {
    display: flex;
    justify-content: space-between; /* Space between text and image */
    align-items: flex-start; /* Align items to the top */
    padding-top: 80px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #0e121a;
  }
  
  .text-container {
    width: 60%; /* Width of the text container */
    margin-left: 5%;
    margin-right: 5%; 
    height: 100vh;
  }
  
  .left {
    margin: 0;
    padding: 5px 10px;
  }
  
  .harley-container {
      height: 100vh; /* Section takes full height of the viewport */
      display: flex; /* Use flexbox to center the image */
      align-items: center; /* Vertically center the image */
      justify-content: center; /* Horizontally center the image */
      overflow: hidden; /* Hide any overflowing parts of the image */
    }

  .harley {
    width: 100%; /* Image takes full width of the section */
    height: 100vh; /* Image height matches viewport height */
    object-fit: cover; /* Crops the image to fit its container without distortion */
    object-position: top; /* Center the image within its container */
    padding-left: 20%;
    padding-right: 50px;
  }

  .today {
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    width: 40%;
    margin-right: 5%;
  }

  #today {
    background-color: #0e121a;
    color: white;
  }


nav {
    position: fixed;
    top: 16px;
    left: 50%;
    translate: -50%;
    font-weight: 500;
  }

.a {
    position: relative;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px;
  }

html {
  scroll-behavior: smooth;
}



  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: black;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 3px 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: 0.2}
    to {opacity: 1}
  }



  /*TIMELINE SECTION STARTS HERE*/
#timeline {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  grid-template-rows: auto;
  background-color: #181e2c;
  height: auto;
  color: white;
  grid-row-gap: 15rem;

}


.timeline {
  display: contents;
}

.cleft {
  grid-column: 1/2;
  margin-right: 10%;
  margin-left: 10%;
}

.right {
  grid-column: 3/3;
  margin-right: 10%;
  margin-left: 10%;
}



.two {
  grid-row: 2/2;
}

.three {
  grid-row: 3/3;
}

.four {
  grid-row: 4/4;
}

.five {
  grid-row: 5/5;
}

.six {
  grid-row: 6/6;
}

.seven {
  grid-row: 7/7;
}

.eight {
  grid-row: 8/8;
}

.c1-img{
  border-radius: 10%;
  width: 60%;
  height: auto;
  grid-row: 1/1;
  margin-top: 30px;
}

.c2-img {
  border-radius: 10%;
  width: 60%;
  height: auto;
  grid-row: 2/2;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 40%;
}
.c3-img {
  border-radius: 10%;
  width: 60%;
  height: auto;
  grid-row: 3/3;
  margin-bottom: 50px;
  margin-top: 30px;
}
.c4-img {
  border-radius: 10%;
  width: 60%;
  height: auto;
  grid-row: 4/4;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 40%;
}
.c5-img {
  border-radius: 10%;
  width: 60%;
  height: auto;
  grid-row: 5/5;
  margin-bottom: 50px;
  margin-top: 40px;
}
.c6-img {
  border-radius: 10%;
  width: 60%;
  height: auto;
  grid-row: 6/6;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 40%;
}
.c7-img {
  border-radius: 10%;
  width: 60%;
  height: auto;
  grid-row: 7/7;
  margin-bottom: 50px;
  margin-top: 30px;
}
.c8-img {
  border-radius: 10%;
  width: 60%;
  height: auto;
  grid-row: 8/8;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 40%;
}

.vertical-line {
  grid-column: 2/2;
  grid-row: 1/9;
  margin-top: 40px;
  height: 100%;
  margin-top: 2%;
  left: 50%;            /* Centers the line horizontally */
  transform: translateX(-50%); /* Adjust for the line's width, perfectly centering it */
  width: 2px;           /* The width of the line */
  height: 100%;         /* The height of the line, 100% of the section */
  background-color: white; /* Line color */
}

